<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Pizze')"></head>

<body class="bg-black  bg-opacity-50 position-relative" id="body_list_bg">
<nav th:replace="fragments/navbar.html :: navbar('list')"></nav>
<!--<div th:text="${redirectMessage}" th:if="${redirectMessage !=null}"></div>-->

<div class="container bg-transparent ">

    <div th:if="${redirectMessage !=null}" aria-live="polite" aria-atomic="true"
         class="bg-body-secondary  bd-example-toasts rounded-3">
        <div class="toast-container p-3 bottom-0 start-50 translate-middle-x" id="toastPlacement"
             data-original-class="toast-container p-3">
            <div class="toast fade show">
                <div class="toast-header">
                    <strong class="me-auto">Pizza alert</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" th:text="${redirectMessage}"></div>
            </div>
        </div>
    </div>

    <h1 class="text-center text-light  my-3">Pizze List</h1>
    <div class="row mb-3">
        <div class="col-8"></div>
        <form class="col-3" id="pizza-search" th:action="@{/pizze/search}" method="get">
            <div class="input-group">
                <input class="form-control" type="text" name="search" id="search"
                       placeholder="cerca una pizza per nome" th:value="${param.search}">
                <button type="submit" class="btn btn-outline-light">Cerca</button>
            </div>
        </form>
        <div class="col-1"></div>
    </div>
    <div class="text-light text-center mt-5" th:if="${pizzaList.size() == 0}"><h3>The list is empty</h3></div>
    <table class="table text-light " th:unless="${pizzaList.size() == 0}">
        <thead class="border-0">
        <tr>
            <th></th>
            <th class="text-light border-0">Nome</th>
            <th class="text-light border-0">Prezzo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-0" th:each="pizza : ${pizzaList}">

            <td>
                <img class="img-list" th:src="@{${pizza.foto}}">
            </td>
            <td>
                <div class="text-light border-0" th:text="${pizza.name}"></div>
            </td>
            <td>
                <div class="text-light border-0 " th:text="${pizza.prezzo} + ' ' + € "></div>
            </td>
            <td class="text-center">
                <div class="d-flex justify-content-center align-items-center">
                    <a class="btn btn-outline-light me-2 " th:href="@{/pizze/show/{id}(id=${pizza.id})}">Dettagli</a>
                    <a class="btn btn-outline-light me-2" th:href="@{/pizze/edit/{id}(id=${pizza.id})}">Modifica</a>
                    <form th:action="@{/pizze/delete/{id}(id=${pizza.id})}" method="post"
                          onsubmit="return confirm('Sei sicuro di voler eliminare questa pizza?')">
                        <button type="submit" class="btn btn-outline-light">Cancella</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="mt-3 d-flex justify-content-end" style="padding-right: 110px;">
        <a class="btn btn-outline-light" th:href="@{/pizze/create}">Aggiungi la tua
            pizza</a>
    </div>
</div>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>