<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Dettagli pizze')"></head>
<body class="bg-black ">
<nav th:replace="fragments/navbar.html :: navbar('pizze')"></nav>

<div class="container bg-black">
    <div class="row">
        <div class="col-8 mt-3">
            <img class="img-fluid" th:src="@{${pizza.foto}}">
        </div>

        <div class="col-4 text-light mt-5 pt-5 centro">
            <h1 class="text-light, text-center pb-3 mt-5" th:text="${pizza.name}"></h1>
            <h6 class="text-light, text-center pb-3" th:text="${pizza.descrizione}"></h6>
            <p class="text-light, text-center"><i class="fa-solid fa-pizza-slice"></i> <span
                    th:each="ingr : ${pizza.ingredients}"
                    th:text="| · ${ingr.name}|"></span>
            </p>
            <p class="text-light, text-center mt-3" th:text="${pizza.prezzo}+ ' ' + € "></p>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <section class="mt-5 col-6">
                <h4>
                    <span>Aggiungi offerta</span>
                    <a th:href="@{/offerte/create(pizzaId=${pizza.id})}" class="btn btn-outline-light">+</a>
                </h4>
                <table class="table mt-3" th:if="${pizza.offerte.size() > 0}">
                    <thead>
                    <tr>
                        <th class="text-light">Nome offerta</th>
                        <th class="text-light">Data di inizio</th>
                        <th class="text-light">Data di fine</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="offer : ${pizza.offerte}">
                        <td th:classAppend="${offer.isExpired() ? 'text-danger' : 'text-light'}"
                            th:text="${offer.title}"></td>
                        <td th:classAppend="${offer.isExpired() ? 'text-danger' : 'text-light'}"
                            th:text="${offer.startDate}"></td>
                        <td th:classAppend="${offer.isExpired() ? 'text-danger' : 'text-light'}"
                            th:text="${offer.endDate}"></td>
                        <td style="text-align: right;">
                            <a class="btn btn-outline-light"
                               th:href="@{/offerte/edit/{id}(id=${offer.id})}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                        <td>
                            <form
                                    th:action="@{/offerte/delete/{id}(id=${offer.id})}"
                                    method="post"
                                    onsubmit="return confirm('Sei sicuro di voler eliminare questa offerta?')"
                            >
                                <button type="submit" class="btn btn-outline-light"><i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="alert alert-light" th:if="${pizza.offerte.size() == 0}">
                    Questa pizza non ha offerte
                </div>
            </section>
        </div>

    </div>
    <div class="text-center mt-5">
        <a class="text-decoration-none text-warning" th:href="@{/pizze}"><i
                class="fa-solid fa-circle-chevron-left"></i> Ritorna alla lista </a>
    </div>

</div>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>