.img-list{
    width: 250px;
}


.img-full{
    width: auto;
}

#body_bg{
    background-image: url(../pizza-4968645_1280.jpg) ;
    background-size:cover;
}

th, td{
background-color: black !important;
}