.img-list{
    width: 250px;
}


.img-full{
    width: auto;
}

#body_list_bg{
    background-image: url(../pizza-4968645_1280.jpg) ;
    background-size:cover;
}

#body_edit_bg{
    background-image: url(../pizza-bg-2.jpg) ;
    background-size:cover;
}

#body_create_bg{
    background-image: url(../parmesan-pasta-recipe-with-piece-cheese-raw-pasta-other-ingredients_1220-584.jpg) ;
    background-size:cover;
}

th, td{
background-color:black !important;
}

td{
    vertical-align: middle;
}

.centro{
    vertical-align: middle;
}